.node_unsynced {
  color: red;
  font-family: 'Titillium Web', sans-serif;
  background: url('./logo.png');
}
.node_synced {
  color: green;
  font-family: 'Titillium Web', sans-serif;
  background: url('./logo.png');
}
.nodeinfo {
  color: black;
  font-family: 'Titillium Web', sans-serif;
}
.peerinfo_connected {
  color: blue;
  font-family: 'Titillium Web', sans-serif;
}
.peerinfo_unconnected {
  color: red;
  font-family: 'Titillium Web', sans-serif;
}
